{% extends 'main/base.html' %}

{% block content %}
<div class="parallax parallax_all parallax_top lg-screen">
</div>

    <div class="main-box text-decor-none regular-text">
        <h2> Pieski, ktore znalazły już swoją ukochaną rodzinę </h2>
        <hr>
    </div>
    <div class="pictures_mosaic">
        {% for dog in object_list %}
        <div class="image-hover-text" data-content1={{ dog.dog_name }} data-content2={{ dog.adoption_date }}>
            <img src="{{ dog.dog_picture.url }}">
        </div>
        {% endfor %}
    </div>

{% endblock content %}