{% extends 'main/base.html' %}

{% block content %}

<div class="parallax parallax_all parallax_top lg-screen">
</div>
<div class="main-box text-decor-none regular-text">
    <h2> Zostań wolontariuszem w Stowarzyszeniu Mam Głos</h2>
    <hr>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 text-centered bottom-space">
            <img class="width20pr" src="../../static/pics/icons/girl.png"><img class="width20pr" src="../../static/pics/icons/boy.png"><br>
            <img class="width20pr top-space" src="../../static/pics/icons/plus-18-movie.png"><img class="width20pr top-space" src="../../static/pics/icons/like.png"><img class="width20pr top-space" src="../../static/pics/icons/dog.png"><img class="width20pr top-space" src="../../static/pics/icons/clock.png"><img class="width20pr top-space" src="../../static/pics/icons/calendar.png">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <p> Szukamy osób pełnoletnich i odpowiedzialnych, które kochają zwierzęta i chcą zaangażować się w nieodpłatną pomoc naszym zwierzakom.</p>
        <p>Szczególnie poszukujemy osób, które dysponują czasem w dni „robocze”, w godzinach porannych (8-10) oraz popołudniowych (13-15).
            Jeżeli dysponujesz wolnym czasem i chcesz go poświęcić psiakom, serdecznie zapraszamy 🙂</p>
        <p> Co zyskasz ? Bezcenną wdzięczność czworonogów oraz poczucie, że pomagasz tym, którzy sami nie mogą upomnieć się o swoje prawa.</p>
    </div>
</div>
</div>

{% endblock content %}